body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  margin: 0px;
  color: #212529;
}

.container {
  margin: 10px;
  width: max-content;
  min-width: 100vw;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 0.9em;
}

.rounded-button {
  /* width: 8em; */
  cursor: pointer;
  border: solid 1px gray;
  border-radius: 0.8em;
  opacity: 0.75;
}

.rounded-button:hover {
  /* transform: translateY(0.05rem); */
  opacity: 1;
}

.species-thumbnail {
  height: 25px;
}

.sr-only {
  position: absolute;
  top: -30em;
}


thead {
  background-color: #e9faf9;
}

h2, h3, th {
  color: navy;
}

table td,
table th {
  padding: 0.25em 0.25em;
}

table.sortable th {
  font-weight: bold;
  border-bottom: thin solid #888;
  position: relative;
  text-align: left;
}

table.sortable th.no-sort {
  padding-top: 0.35em;
}

table.sortable th:nth-child(5) {
  width: 10em;
}

table.sortable th button {
  padding: 4px 15px 4px 4px;
  margin: 1px;
  font-size: 100%;
  font-weight: bold;
  background: transparent;
  border: none;
  display: inline;
  text-align: left;
  right: 0;
  left: 0;
  top: 0;
  color: navy;
  bottom: 0;
  height: 100%;
  outline: none;
  cursor: pointer;
}

table.sortable th button span {
  position: absolute;
  right: 4px;
}


table.sortable th[aria-sort="ascending"], table.sortable th[aria-sort="descending"] {
  display: flex;
}

table.sortable th[aria-sort="descending"] span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  padding: 4px 0 4px 0;
  display: block;
}

table.sortable th[aria-sort="ascending"] span::after {
  content: "▲";
  color: currentcolor;
  font-size: 100%;
  padding: 4px 0 4px 0;
  display: block;
}

table.show-unsorted-icon th:not([aria-sort]) button span::after {
  content: "♢";
  color: currentcolor;
  font-size: 100%;
  position: relative;
  top: -3px;
  left: -4px;
}

table.sortable td.num {
  text-align: right;
}

/* Focus and hover styling */

table.sortable th button:focus,
table.sortable th button:hover {
  background-color: #e5f4ff;
}

table.sortable th button:focus span,
table.sortable th button:hover span {
  right: 2px;
}

table.sortable th:not([aria-sort]) button:focus span::after,
table.sortable th:not([aria-sort]) button:hover span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

.sticky-header {
  position: sticky;
  /* to compensate for the margin on the container */
  margin: -10px -10px 20px -10px;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 40px;
  background-color: #e9faf9;
  padding: 8px;
  flex-grow: 0;
  flex-shrink: 0;
}

.title-header {
  /* to compensate for the margin on the container */
  margin: 10px -10px 10px -10px;
  top: 20px;
  z-index: 1;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding: 8px;
  flex-grow: 0;
  flex-shrink: 0;
}

h2.header {
  margin-top: 0;
  margin-bottom: 0;
}

.header a {
  color: navy;
  text-decoration: none;
}

.header {
  display: inline;
  margin-right: 20px;
}

.search-area {
  margin-left: 20px;
  display: inline;
}

span.text-bold {
    font-weight: bold;
}

/* style for pagination links*/
.pagination {
  display: inline-block;
    padding-left: 0;
    margin: -10px 0 20px 0;
    border-radius: 4px;
}

.pagination li {
  display: inline;
}

.pagination li.active a {
    color: black;
}

.pagination li a, .pagination li span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #339af7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.text-small {
    font-size: 0.8em;
}

input[type=radio], .radio-label {
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}

.symbol-cell {
  max-width: 100px;
}


.blast-plot-cell {
  position: relative;
}

.blast-plot {
  width: 1000px;
  height: 700px;
  margin-right: 40px;
}

.small-cell {
  font-size: 0.9em;
}

#pdf-button {
  position: absolute;
  z-index: 50;
  right: 5px;
  top: 5px;
}
